extends layout 

block content 
  div(class="navBar")
    img(src="./images/darklogo.png", class="logo")
    hr
    a(href="/")
      button Home
    a(href="/menu")
      button Menu
    a(href="https://www.doordash.com")
      button Order Online 
    a(href="/about")
      button About Us 
    a(href="/review")
      button User Reviews
    hr
  h2 #{title} Menu: 
  div(class="menu")
    img(src="./images/example.jpg", class="menuItem")
    h2 Menu Item:
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    img(src="./images/example.jpg", class="menuItem")
    h2 Menu Item 2:
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  hr
  img(src="./images/lightlogo.png", class="bottomlogo")