extends layout 

block content 
  h1= title 
  hr
  div(class="navBar")
    a(href="/index")
      button Home
    a(href="/menu")
      button Menu
    a(href="https://doordash.com")
      button Order Online 
    a(href="/about")
      button About Us 
    a(href="/review")
      button User Reviews
  hr
  p User Reviews: 
  div(class="info")
    p Lorem ipsum
    //TODO add item layout
  hr