extends layout 

block content 
  h1= title 
  hr
  div(class="navBar")
    a(href="/")
      button Home
    a(href="/menu")
      button Menu
    a(href="https://www.doordash.com")
      button Order Online 
    a(href="/about")
      button About Us 
    a(href="/review")
      button User Reviews
  hr
  p User Reviews: 
  div(class="info")
    p Lorem ipsum
    each val in reviews
      li
        span= val.comment
  hr
  h2 Add a new review
  form(method='POST' action='/create')
    input(type='text', name='comment', id='comment', required)
    button(type='submit') Post 