extends layout 

block content 
  div(class="navBar")
    img(src="./images/darklogo.png", class="logo")
    hr
    a(href="/")
      button Home
    a(href="/menu")
      button Menu
    a(href="https://www.doordash.com")
      button Order Online 
    a(href="/about")
      button About Us 
    a(href="/review")
      button User Reviews
    hr
  hr
  h2 User Reviews: 
  div(class="info")
    each val in reviews
      li
        span= val.comment
  hr
  h2 Add a comment
  form(method='POST' action='/create')
    input(type='text', name='comment', id='comment', required)
    button(type='submit') Post 
  hr
  img(src="./images/lightlogo.png", class="bottomlogo")
